#title{
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}
#description{
    text-align: center;
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#survey-form {
    margin: 0 auto; 
    width: 400px;    

}