#nav-bar{
    position:fixed;
    top:0px;
    background-color: aliceblue;
    width: 50%;
    height: 2%;
}
#flex-header{
  display: flex;
}

#header-img{
  order: 1;

}
#video{
  order: 3;

}
#form{
  order: 2;

}

#events-info{
  display: flex;
}
#img-event1{
  order: 2;
  flex: 1;

}
#event1{
  order: 1;
  flex: 2;
}
/* Set the background color of body to tan */
body {
    background-color: rgb(241, 220, 220);
}
  
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    body {
      background-color: blue;
    }
}
  
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    body {
      background-color: olive;
    }
}